* {
  margin: 0;
  padding: 0;
  font-family: "SF display", sans-serif;
}
header {
  width: 85vw;
  height: 85px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
}
.zurag {
  height: 18px;
}
.divider {
  height: 18px;
  width: 0px;
  border: 0.5px solid #ffffff;
  background-position: end;
}
.hero {
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
  background-size: 100%;
  height: 960px;
  margin-bottom: 121px;
}
.hero-content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  justify-content: space-evenly;
}
.hero-content div {
  width: 50%;
}
.left {
  background-image: url("sonin.png");
  height: 446.4px;
  max-width: 446.4px;
  border-radius: 20px;
  background-size: 100%;
  background-position: center;
  transition: all 2s ease;
  cursor: pointer;
}
.left:hover {
  background-size: 170%;
}
.hero-content h1 {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.hero-content h2 {
  text-transform: uppercase;
  color: #ffffff;
  height: 43px;
}
header i {
  font-size: 19px;
}
i {
  font-size: 19px;
}
.HEADD {
  display: flex;
  align-items: center;
  gap: 365px;
}
.headr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  margin-left: 135px;
}
.headl {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headl p {
  color: rgb(255, 255, 255, 0.6);
  font-size: 14px;
}
.headl h4 {
  color: #ffffff;
  font-size: 14px;
}
.headr h2 {
  font-weight: 400;
}
.headr p {
  color: gray;
  font-size: 12px;
}
.search {
  width: max-content;
  display: flex;
  align-items: center;
}
.search-input {
  outline: none;
  border: none;
  color: #ffffff;
  background: transparent;
  margin-left: 14px;
}
.lbox {
  height: 40px;
  width: 142px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.lbox p {
  font-size: 13px;
}
.dot {
  background-color: #0078f6;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  animation: blink 2s linear infinite;
}
@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}
.icons div {
  margin: 0 15px;
}
.hero-content div h5 {
  color: #0078f6;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero-content div h5 {
  animation: blink 2s linear infinite;
}

.fa-bars {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 100px;
}
.icons i {
  font-size: 15px;
  color: #000;
  transition: 0.6s;
}
.icons i:hover {
  color: #fff;
}
.icons a {
  position: relative;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.icons {
  display: flex;
  position: absolute;
  top: 30px;
  right: 100px;
  margin: 0;
  padding: 0;
}
.icons div:nth-child(1) a:hover {
  background-color: #3b5999;
}
.icons div:nth-child(2) a:hover {
  background-color: #e4405f;
}
.icons div:nth-child(3) a:hover {
  background-color: #55acee;
}
.icons div:nth-child(4) a:hover {
  background-color: #0077b5;
}
.right h1 {
  font-size: 36px;
}
.right h2 {
  font-size: 36px;
}
.pro {
  height: 36px;
  max-width: 36px;
  border-radius: 50px;
  background-image: url("duguizurag.png");
  background-size: 100%;
}
.pros {
  display: flex;
  align-items: center;
  margin-top: 80px;
  min-width: 500px;
  gap: 8px;
}
.ner {
  color: rgb(255, 255, 255, 0.6);
}
.onsar {
  color: #ffffff;
}
.divide {
  height: 85px;
  margin-top: -400px;
  display: flex;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}
.divide p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.little {
  width: 52.6px;
  height: 27px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255, 0.6);
}
.first {
  width: 244px;
  height: 360px;
  background-image: url("zaluu.png");
  border-radius: 9px;
  background-position: center;
}

.second {
  width: 244px;
  min-height: 360px;
  background-image: url("Aahoyrhun.png");
  background-position: center;
  border-radius: 9px;
}
.third {
  width: 244px;
  height: 360px;
  background-image: url(shil.jpeg);
  background-position: center;
  border-radius: 9px;
}
.fourth {
  width: 244px;
  height: 360px;
  background-image: url(sonin2.jpeg);
  background-position: center;
  border-radius: 9px;
}
.fifth {
  width: 244px;
  height: 360px;
  background-image: url(18.jpeg);
  background-position: center;
  border-radius: 9px;
}

.sixth {
  width: 244px;
  height: 360px;
  background-image: url(huuhed.jpg);
  background-position: center;
  border-radius: 9px;
}

.seventh {
  width: 244px;
  height: 360px;
  background-image: url(humuuus.jpg);
  background-position: center;
  border-radius: 9px;
}

.dots {
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dotm {
  background-color: #0078f6;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}
.dots p {
  color: #ffffff;
  font-size: 11px;
}
.views {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  height: 100px;
  gap: 20px;
}
.views i {
  font-size: 11px;
  color: #ffffff;
  margin-left: 20px;
}
.views p {
  font-size: 12px;
  color: #ffffff;
  margin-left: 5px;
}
.views h5 {
  color: #ffffff;
  margin-left: 20px;
  font-size: 15px;
}
.lgo {
  display: flex;
}
.blue {
  color: #ffffff;
  background-color: #0077b5;
  width: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 12px;
  padding: 3px 0px;
  text-transform: uppercase;
}

.blue1 {
  color: #ffffff;
  background-color: #0077b5;
  width: 180px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 12px;
  padding: 3px 0px;
  text-transform: uppercase;
}

.packcards {
  display: flex;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
  overflow-x: scroll;
}
.part3 {
  width: 100vw;
  background-color: #fafafa;
  display: flex;
  margin-top: 116px;
  flex-direction: column;
}
.wholebody {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.bigcard {
  width: 100%;
  height: 183px;
  font-size: 18px;
  border-radius: 0 27px 27px 27px;
  padding: 50px 50px 50px 50px;
  background-color: white;
}

.pro1 {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-image: url(purevdorj.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.pro2 {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-image: url(undral.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.pro3 {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-image: url(gerlee.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.pro4 {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-image: url(tushig.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.pro5 {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-image: url(gerlee.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.article {
  width: 70%;
}
.article-right {
  align-self: flex-end;
}
